.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.search-by-title{
  display: block;
  margin: 20px;
}

.form--button-submit, .form--input, .search-by-title {
  display: block;
  margin: 20px;
}


.Input--field-error {
  margin-top: 5px;
  color: red;
}

.Input--root {
  display: block;
}

#post {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#post td, #post th {
  border: 1px solid #ddd;
  padding: 8px;
}

#post tr:nth-child(even){background-color: #f2f2f2;}

#post tr:hover {background-color: #ddd;}

#post th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.error{
  color: red;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
